   <div myTest>Test</div>
   <bug-stats [data]="bugs"></bug-stats>
   <section class="sort">
   	<label for="">Order By :</label>
   	<select (change)="bugSortAttrName=$event.target.value">
   		<option value="name">Name</option>
   		<option value="isClosed">Status</option>
   	</select>
   	<label for="">Descending ? :</label>
   	<input type="checkbox" (change)="bugSortDesc=$event.target.checked">
   </section>
   <bug-edit (bugCreate)="onNewBugCreated($event)"></bug-edit>
   <section class="list">
   	<ol>
   		<li *ngFor="let bug of ( bugs | sort:bugSortAttrName:bugSortDesc )">
   			<span class="bugname" 
               (click)="onBugNameClick(bug)"
               [ngClass]="{closed : bug.isClosed}">
               {{bug.name | trimText:40}}
            </span>
   			<div class="datetime">{{bug.createdAt | elapsed}}</div>
   		</li>
   	</ol>
   	<input type="button" value="Remove Closed" (click)="onRemoveClosedClick()">
   </section>